<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.team2.dao.MentorDAO">

	<!-- =============================== INSERT =============================== -->
	<insert id="insertMentorInfo">
		insert into mentor_info(mentif_me_id,mentif_exp,mentif_portfolio,mentif_bank,mentif_account,mentif_date,mentif_state,mentif_ment_job,mentif_intro) 
		values(#{mt_info.mentIf_me_id},#{mt_info.mentIf_exp},#{mt_info.mentIf_portfolio},#{mt_info.mentIf_bank},#{mt_info.mentIf_account},
			   now(),0,#{mt_info.mentIf_ment_job},#{mt_info.mentIf_intro})
	</insert>
	
	<insert id="insertMentoringApply">
		insert into mentoring_apply(mentAp_ment_num, mentAp_me_id, mentAp_content, mentAp_contact, mentAp_state)
		values(#{mentAp.mentAp_ment_num}, #{mentAp.mentAp_me_id}, #{mentAp.mentAp_content},#{mentAp.mentAp_contact}, 0 )
	</insert>
	
	<insert id="insertMentoring" useGeneratedKeys="true" keyProperty="ment.ment_num">
		insert into mentoring(ment_title,ment_duration,ment_content,ment_me_id,ment_state)
					values(#{ment.ment_title},#{ment.ment_duration},#{ment.ment_content},#{ment.ment_me_id},1)
	</insert>
	
	<insert id="insertTotalCategory">
		insert into total_category(toCt_progCt_num,toCt_table_name,toCt_table_pk)
					values(#{toCt.toCt_progCt_num},#{toCt.toCt_table_name},#{toCt.toCt_table_pk})
	</insert>

	
	<!-- =============================== DELETE =============================== -->
	
	<delete id="deleteMentoring">
		delete from mentoring where ment_num = #{ment_num}
	</delete>
	
	<!-- =============================== UPDATE =============================== -->	
	
	<update id="mentorInfoAccept">
		update mentor_info
		set
		mentIf_state = 1
		where
		mentIf_me_id = #{me_id}
	</update>
	
	<update id="updateMemberMentorInfo">
		update member
		set
		me_ma_auth = "멘토"
		where
		me_id = #{me_id}
	</update>
	
	<update id="mentorInfoDeny">
		update mentor_info
		set
		mentIf_state = -1
		where
		mentIf_me_id = #{me_id}
	
	</update>
	
	<update id ="updateMentorInfoForDenied">
		update mentor_info
		set
		mentIf_exp = #{mt_info.mentIf_exp},
		mentIf_portfolio = #{mt_info.mentIf_portfolio},
		mentIf_intro = #{mt_info.mentIf_intro},
		mentIf_account = #{mt_info.mentIf_account},
		mentIf_date = now(),
		mentIf_ment_job = #{mt_info.mentIf_ment_job},
		mentif_bank = #{mt_info.mentIf_bank},
		mentIf_state = 0
		where
		mentIf_me_id = #{me_id}
	
	</update>
	<update id="updateMentoring">
		update mentoring
		set
			ment_title = #{ment.ment_title},
			ment_duration = #{ment.ment_duration},
			ment_content = #{ment.ment_content}
		where 
			ment_num = #{ment.ment_num}
	</update>
	
	<update id="updateMentoringApply">
		update mentoring_apply
		set
			mentAp_content = #{mentAp.mentAp_content},
			mentAp_contact = #{mentAp.mentAp_contact}
		where
			mentAp_num = #{mentAp.mentAp_num} and mentAp_me_id = #{user.me_id}
	</update>
	
	<!-- =============================== SELECT =============================== -->	
	<select id="selectMentorList" resultType="MetoringVO">
        select mentoring.*, me_nickname as ment_me_nickname, mentIf_exp as ment_mentIf_exp, mentIf_ment_job as ment_mentIf_job
        from mentoring
			join
				`member` on me_id = ment_me_id
			join
				mentor_info on mentIf_me_id = ment_me_id
			where
					(
		        		ment_title like concat('%', #{cri.search}, '%') or
						ment_content like concat('%', #{cri.search}, '%') or
						me_nickname like concat('%', #{cri.search}, '%')
					)
        		and
        		(
					<foreach collection= "cri.jobList" item="job" index="index"  open="(" close=")" separator="or">
            			mentIf_ment_job like concat('%', #{job.ment_job}, '%')
        			</foreach>
        		)
	        		
 		order by ment_num desc
		limit #{cri.pageStart}, #{cri.perPageNum}
 	</select>
 	<select id="selectMentorTotalCount" resultType="int">
 		 select count(*)
        from mentoring
			join
				`member` on me_id = ment_me_id
			join
				mentor_info on mentIf_me_id = ment_me_id
			where
	        		(
		        		ment_title like concat('%', #{cri.search}, '%') or
						ment_content like concat('%', #{cri.search}, '%') or
						me_nickname like concat('%', #{cri.search}, '%')
					)
        		and
	        		(
						<foreach collection= "cri.jobList" item="job" index="index"  open="(" close=")" separator="or">
	            			mentIf_ment_job like concat('%', #{job.ment_job}, '%')
	       				</foreach>
	        		
	        		)
 	</select>
	
	<select id="selectJobList" resultType="MentorJobVO">
		select * from mentor_job
	</select>
	
	<select id="selectMentorInfo" resultType="MentorInfoVO">
		select mentor_info.*, me_nickname as mentIf_me_nickname
		from mentor_info 
		join `member` on me_id = mentIf_me_id
		where mentIf_me_id = #{me_id} 
	
	</select>
	
	<select id="selectMentorInfoList" resultType ="MentorInfoVO">
		select * 
		from mentor_info
		where
			mentIf_ment_job like concat("%",#{cri.search},"%")
			and mentIf_state = 0
		order by mentIf_date DESC
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<select id="selectMentorInfoTotalCount" resultType="int">
		select count(*) 
		from mentor_info
		where
			mentIf_ment_job like concat("%",#{cri.search},"%")
	</select>
	
	<select id="selectMentoring" resultType="MetoringVO">
		select * from mentoring where ment_num = #{ment_num}
	</select>
		
	<select id="selectMentoringList" resultType="MetoringVO">
	  SELECT mentoring.*, mentor_info.mentIf_ment_job as ment_mentIf_job, mentor_info.mentIf_exp as ment_mentIf_exp, mentoring_apply.mentAp_state as mentAp_state, me_nickname as ment_me_nickname
		FROM mentoring
	  		JOIN mentor_info ON ment_me_id = mentIf_me_id
	    	JOIN mentoring_apply ON ment_num = mentAp_ment_num
	    	JOIN `member` ON me_id = ment_me_id
		WHERE mentAp_me_id = #{me_id}
	</select>

	<select id="selectMentoCategory" resultType="TotalCategoryVO">
	  SELECT total_category.*, programming_category.progCt_name as toCt_progCt_name
		FROM total_category
	 		JOIN programming_category ON toCt_progCt_num = progCt_num
		WHERE toCt_table_pk = #{ment_num} and toCt_table_name = #{table} 
	</select>
  
	<select id="selectMetoring" resultType="MetoringVO">
		select * from mentoring where ment_me_id = #{me_id}
	</select>
	
	<select id="selectProgrammingCategoryList" resultType ="kr.kh.team2.model.vo.common.ProgrammingCategoryVO">
		select * from programming_category
	</select>

	<select id="selectMentoringApply" resultType="MentoringApplyVO">
		SELECT * 
		FROM mentoring_apply
		WHERE mentAp_ment_num = #{ment_num} AND mentAp_me_id = #{user.me_id}
	</select>
	
	<select id="selectMentoringApplyList" resultType="MentoringApplyVO">
		SELECT * 
		FROM mentoring_apply
		WHERE mentAp_ment_num = #{ment_num} AND mentAp_me_id = #{me_id};
	</select>
</mapper>