<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.team2.dao.MentorDAO">

	<!-- =============================== INSERT =============================== -->
	<insert id="insertMentorInfo">
		insert into mentor_info(mentif_me_id,mentif_exp,mentif_portfolio,mentif_bank,mentif_account,mentif_date,mentif_state,mentif_ment_job) 
		values(#{mt_info.mentIf_me_id},#{mt_info.mentIf_exp},#{mt_info.mentIf_portfolio},#{mt_info.mentIf_bank},#{mt_info.mentIf_account},
			   now(),0,#{mt_info.mentIf_ment_job})
		
		
	</insert>
	
	<!-- =============================== DELETE =============================== -->
	
	<!-- =============================== UPDATE =============================== -->	
	
	<!-- =============================== SELECT =============================== -->	
	<select id="selectMentorList" resultType="MetoringVO">
        select mentoring.*, me_nickname as ment_me_nickname, mentIf_exp as ment_mentIf_exp, mentIf_ment_job as ment_mentIf_job
        from mentoring
			join
				`member` on me_id = ment_me_id
			join
				mentor_info on mentIf_me_id = ment_me_id
			where
					(
		        		ment_title like concat('%', #{cri.search}, '%') or
						ment_content like concat('%', #{cri.search}, '%') or
						me_nickname like concat('%', #{cri.search}, '%')
					)
        		and
        		(
					<foreach collection= "cri.jobList" item="job" index="index"  open="(" close=")" separator="or">
            			mentIf_ment_job like concat('%', #{job.ment_job}, '%')
        			</foreach>
        		)
	        		
 		order by ment_num desc
		limit #{cri.pageStart}, #{cri.perPageNum}
 	</select>
 	<select id="selectMentorTotalCount" resultType="int">
 		 select count(*)
        from mentoring
			join
				`member` on me_id = ment_me_id
			join
				mentor_info on mentIf_me_id = ment_me_id
			where
	        		(
		        		ment_title like concat('%', #{cri.search}, '%') or
						ment_content like concat('%', #{cri.search}, '%') or
						me_nickname like concat('%', #{cri.search}, '%')
					)
        		and
	        		(
						<foreach collection= "cri.jobList" item="job" index="index"  open="(" close=")" separator="or">
	            			mentIf_ment_job like concat('%', #{job.ment_job}, '%')
	       				</foreach>
	        		
	        		)
 	</select>
	
	<select id="selectJobList" resultType="MentorJobVO">
		select * from mentor_job
	</select>
	
	<select id="selectMentorInfo" resultType="MentorInfoVO">
		select * from mentor_info where mentIf_me_id = #{me_id}
	</select>
	
	<select id="selectMentoring" resultType="MetoringVO">
		select * from mentoring where ment_num = #{ment_num}
	</select>

</mapper>