<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.team2.dao.MentoDAO">
 	<select id="selectMentoList" resultType="MetoringVO">
        select mentoring.*, me_nickname as ment_me_nickname, mentIf_exp as ment_mentIf_exp, mentIf_job as ment_mentIf_job
        from mentoring
			join
				`member` on me_id = ment_me_id
			join
				mentor_info on mentIf_me_id = ment_me_id
			where
				mentIf_job in 
					<foreach collection= "cri.typeList" item="type" index="index"  open="(" close=")" separator=",">
            			#{type}
        			</foreach>
		
 	</select>
 	<select id="selectMentoTotalCount" resultType="int">
 		select count(*) from mentoring
 		join
			mentor_info on mentIf_me_id = ment_me_id
		where
			mentIf_job like concat('%', #{cri.type}, '%')
 	</select>
</mapper>
