<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.team2.dao.ReviewDAO">
	<select id="selectMutualReviewList" resultType="MutualReviewVO">
		SELECT * FROM mutual_review WHERE mure_target_id = #{me_id}
	</select>
	
	<select id="selectRecuType" resultType="MutualReviewVO">
		SELECT *
		FROM mutual_review 
			JOIN group_member ON mure_go_num = gome_go_num
		    JOIN `group` ON mure_go_num = go_num
		    JOIN recruit ON go_num = recu_go_num
		WHERE mure_target_id = #{me_id} and go_num = #{go_num};
	</select>
</mapper>