@charset "UTF-8";

.recruit-inputList {
	display: flex;
    grid-gap: 15px;
    gap: 15px;
}


.recruit-listItem {
	display: flex;
	flex-direction: column;
	flex: 1 1;	
}

.inputbox-lableText {
	font-weight: 700;
}

.inputbox-input {
	height: 50px;
	border: 1px solid #c9c9c9;
	border-radius: 5px;
	padding: 10px;
}

.second-container {
	margin-top: 100px;
}

.inputbox-input-topic {
	display: flex;
    flex-direction: column;
    width: 100%;
    height: 50px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    padding: 10px;
}

.form-row {
	display: block;
	margin: 10px 0px;
}

.button-area{
	margin: 70px 0;
	display: flex;
	justify-content: flex-end;
}

.cancel-button{
	outline: none;
    border-radius: 5px;
	height: 50px;
	width: 100px;
}

.write-button{
	outline: none;
	background-color: #E6F5E5;
    border-radius: 5px;
	height: 50px;
	width: 100px;
	margin-left: 20px;
	
}