/* 전체 틀 구역 */
*{	
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	list-style:none;
}

.main-wrap {
  min-width: 1200px;
  background-color: #212529;
}
.main-contents {
  width: 1200px;
  min-height: 1000px;
  margin: 0 auto;
  display: flex;
  background-color: #fff;
  align-items: stretch;
}

/* header구역 */
header{
	width: 100%; min-width: 1200px;
}
header h1{ width: 110px; }
header img{ width: 110px; }
header .navbar>.container-fluid {
	width: 1200px;
}


header .navbar-left{ width: 300px; justify-content: flex-start;}
header .navbar-left a{ font-size: 14px; color: #000000; }
header .navbar-left li{ position: relative; }
header .navbar-left li:first-child::after{
	position: absolute; right: -1px; top: 50%; transform: translateY(calc(-50% - 1px));
}

header .navbar-right{ width: 150px; display: flex; justify-content: flex-end;}
header .navbar-right a{ font-size: 14px; color: #000000; }
header .navbar-right li{ position: relative; }
header .navbar-right li:first-child::after{
	content: '|'; color: #999; font-size: 12px;
	position: absolute; right: -1px; top: 50%; transform: translateY(calc(-50% - 1px));
}

header .d-flex {
	width: calc(100% - 560px); justify-content: flex-end;
}

/* header 검색구역 */
#totalsearch{ 
	width: 550px; border-radius: 5px 0 0 5px;
	border: none;
}
#totalsearch::placeholder{ color: #999; }
#totalsearch-btn{ 
	color: #ededed; border-color: #ededed; padding: 6px 8px;
	border-radius: 0 5px 5px 0; border-left: none;
}
#totalsearch-btn:hover{
	background-color: #212529; color: #ededed; border-color: #ededed;
	border-radius: 0 5px 5px 0; border-left: none;
}
#totalsearch-btn img{ width: 24px; }
