<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
    
		<!-- ========================== member ========================== -->
		<typeAlias type="kr.kh.team2.model.vo.member.MemberVO" alias="MemberVO"/>
    
    <!-- ========================== mentor ========================== -->
		<typeAlias type="kr.kh.team2.model.vo.member.MentorJobVO" alias="MentorJobVO"/>
		
		<!-- ========================== group ========================== -->
		<typeAlias type="kr.kh.team2.model.vo.group.GroupVO" alias="GroupVO"/>
    
	</typeAliases>
</configuration>