<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- Mapper에서 resultType을 간단히 줄여쓰기 위해 typeAlias를 활용 -->
		<typeAlias type="kr.kh.team2.model.vo.common.SearchMenuVO" alias="SearchMenuVO"/>
		<typeAlias type="kr.kh.team2.model.vo.common.ProgrammingCategoryVO" alias="ProgrammingCategoryVO"/>
		<typeAlias type="kr.kh.team2.model.vo.common.ProgrammingLanguageVO" alias="ProgrammingLanguageVO"/>

		<typeAlias type="kr.kh.team2.model.vo.common.TotalCategoryVO" alias="TotalCategoryVO"/>
		<typeAlias type="kr.kh.team2.model.vo.common.TotalLanguageVO" alias="TotalLanguageVO"/>
    
		<!-- ========================== member ========================== -->
		<typeAlias type="kr.kh.team2.model.vo.member.MemberVO" alias="MemberVO"/>
    
    	<!-- ========================== mentor ========================== -->
		<typeAlias type="kr.kh.team2.model.vo.member.MentorJobVO" alias="MentorJobVO"/>
		<typeAlias type="kr.kh.team2.model.vo.member.MetoringVO" alias="MetoringVO"/>
		<typeAlias type="kr.kh.team2.model.vo.member.MentorInfoVO" alias="MentorInfoVO"/>
		
		<!-- ========================== group ========================== -->
		<typeAlias type="kr.kh.team2.model.vo.group.GroupMemberVO" alias="GroupMemberVO"/>
		<typeAlias type="kr.kh.team2.model.vo.group.RecruitVO" alias="RecruitVO"/>
		<typeAlias type="kr.kh.team2.model.vo.group.GroupVO" alias="GroupVO"/>
		<typeAlias type="kr.kh.team2.model.vo.group.GroupPostVO" alias="GroupPostVO"/>
		<typeAlias type="kr.kh.team2.model.vo.group.GroupCalendarVO" alias="GroupCalendarVO"/>
		<typeAlias type="kr.kh.team2.model.vo.group.MutualReviewVO" alias="MutualReviewVO"/>
		<typeAlias type="kr.kh.team2.model.vo.group.GroupApplyVO" alias="GroupApplyVO"/>

		<!-- ========================== lecture ========================== -->
		<typeAlias type="kr.kh.team2.model.vo.lecture.LectureVO" alias="LectureVO"/>



		<!-- ========================== report ========================== -->
		<typeAlias type="kr.kh.team2.model.vo.common.ReportContentVO" alias="ReportContentVO"/>
		
	</typeAliases>
</configuration>